---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Links from '../components/Links.astro';
---

<Layout title="Welcome to Astro.">
	<header>
		<h1>Said Atrahouch Echarrouti</h1>
		<h2>Senior Software Engineer</h2>
	</header>
	<main>
		<div class="column">
			<Section title='statement'>
				<p>I'm a software engineer with over 9 years of experience crafting delightful and engaging products. My passion lies in designing user-centered experiences that are snappy, enjoyable, and easy to use.</p>
				<p>I strive to create digital products that are simple, user-friendly, and lightning-fast.</p>
			</Section>
			<Links />
			<Section title='education'>
				TBA
			</Section>
		</div>
		<div class="column">
			<Section title='Work Experience'>
				TBA
			</Section>
		</div>
	</main>
</Layout>

<style>
	main {
		font-size: 20px;
		line-height: 1.6;
		display: flex;
		gap: 2rem
	}

	header {
		margin-bottom: 16px;
	}
	.column {
		flex: 0 0 50%;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	h1 {
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		text-align: left;
	}
</style>
