---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Links from '../components/Links.astro';
import Education from '../components/Education.astro';
import Skills from '../components/Skills.astro';
import AdditionalInformation from '../components/AdditionalInformation.astro';
import WorkExperience from '../components/WorkExperience.astro';
---

<Layout title="Welcome to Astro.">
	<header>
		<div>
			<h1>Said Atrahouch Echarrouti</h1>
			<h2>Senior Software Engineer</h2>
		</div>
		<div class="container">
			<h3 class="title">Languages</h3>: <span>Spanish</span> & <span>English</span>
		</div>
	</header>
	<main>
		<div class="column_1">
			<Section title='statement'>
				<p>I'm a software engineer with over 9 years of experience crafting delightful and engaging products. My passion lies in designing user-centered experiences that are snappy, enjoyable, and easy to use.</p>
				<p>I strive to create digital products that are simple, user-friendly, and lightning-fast.</p>
			</Section>
			<Links />
			<Education />
			<Skills />
			<AdditionalInformation />
		</div>
		<div class="column_2">
			<WorkExperience />
		</div>
	</main>
</Layout>

<style>
	main {
		font-size: 20px;
		line-height: 1.6;
		display: flex;
		gap: 2rem
	}

	.list_jobs {
		list-style: none;
		margin: 0;
		padding: 0;
		list-style-position: inside;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.container {
		font-size: 1rem;
		display: flex;
		justify-content: baseline;
		gap: 0.25rem;
	}
	.title {
		text-transform: uppercase;
		font-weight: 500;
		letter-spacing: 0.03rem;
		color: #545454;
	}

	.content {

	}


	.list_languages {
		list-style: none;
		margin: 0;
		padding: 0;
		list-style-position: inside;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		flex-wrap: wrap;
	}

	.list_languages_element {
		display: flex;
		gap: 1rem;
		background-color: hsla(50, 3%, 86%, 1);
		padding: 0.25rem;
		border-radius: 0.5rem;
	}

	header {
		margin-bottom: 16px;
		display: flex;
		gap: 1rem;
	}
	.column_1 {
		flex: 1 1 40ch;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.column_2 {
		flex: 1 1 60ch;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	h1 {
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		text-align: left;
	}
</style>
