---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Links from '../components/Links.astro';
import Education from '../components/Education.astro';
import Skills from '../components/Skills.astro';
import AdditionalInformation from '../components/AdditionalInformation.astro';
import WorkExperience from '../components/WorkExperience.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<Header />
	<main>
		<div class="column_1">
			<Section title='statement'>
				<p>I'm a software engineer with over 9 years of experience crafting delightful and engaging products. My passion lies in designing user-centered experiences that are snappy, enjoyable, and easy to use.</p>
				<p>I strive to create digital products that are simple, user-friendly, and lightning-fast.</p>
			</Section>
			<Links />
			<Education />
			<Skills />
			<AdditionalInformation />
		</div>
		<div class="column_2">
			<WorkExperience />
		</div>
	</main>
</Layout>

<style>
	main {
		font-size: 20px;
		line-height: 1.6;
		display: flex;
		gap: 2rem
	}
	.column_1 {
		flex: 1 1 40ch;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.column_2 {
		flex: 1 1 60ch;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	h1 {
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		text-align: left;
	}
</style>
