---
interface Props {
  name: string;
	href: string;
}

const { name, href } = Astro.props;
---

<div class="icon">
  <slot />
</div>
<div class="website_information">
	<a aria-label={`personal-link-${name}`} class="website_link" href=`${href}` target="_blank"></a>
	<h4 id={`personal-link-${name}`} class="website_name">{name}</h4>
</div>

<style>
	.icon {
		--svg-size: 48px;
		width: var(--svg-size);
		height: var(--svg-size);
		align-self: center;
		flex: 0 0 auto;
	}
	.website_name {
		word-break: break-all;
		white-space: pre-wrap;
		word-break: break-all;
	}

	.website_information {
		color: hsl(--accent);
		flex: 0 0 auto;
	}

	.website_link,
	.website_link:visited {
		text-decoration: none;
		color: inherit;
		white-space: pre-wrap;
		word-break: break-all;
		position: absolute;
		width: 100%;
		height: 100%;
		inset: 0;
		z-index: 1;
	}

	.website_link:hover + .website_name {
		text-decoration: underline;
	}


</style>
