---
interface Props {
  title: string;
  data: string[]
}

const { data, title } = Astro.props;

---

<div>
  <h4>{title}</h4>
  <ul class="list_skills">
    {data.map((skill) => {
      return <li class="list_skills_element">
        {skill}
      </li>
    })}
  </ul>
</div>

<style>
	.list_skills {
		list-style: none;
		margin: var(--space-0);
		padding: var(--space-0);
		list-style-position: inside;
		display: flex;
		gap: var(--space-2);
		flex-wrap: wrap;
	}

	.list_skills_element {
		display: flex;
		gap: var(--space-4);
		background-color: hsl(var(--tag-bg));
		padding: var(--space-1);
		border-radius: var(--space-2);
	}
</style>
