---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: white;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	*, *::before, *::after {
	  box-sizing: border-box;
	}
	* {
	  margin: 0;
	}
	body {
	  line-height: 1.5;
	  -webkit-font-smoothing: antialiased;
		min-height: 100dvh;
		text-rendering: optimizeSpeed;
		width: 100%;
		max-width: calc(100ch + 64px);
		margin: auto;
		padding-top: 1rem;
	}
	img, picture, video, canvas, svg {
	  display: block;
	  max-width: 100%;
	}
	input, button, textarea, select {
	  font: inherit;
	}
	p, h1, h2, h3, h4, h5, h6 {
	  overflow-wrap: break-word;
		text-wrap: balance;
	}
	.circle {
		border-radius: 50%;
	}
	@media (prefers-reduced-motion: reduce) {
	  html:focus-within {
	   scroll-behavior: auto;
	  }

	  *,
	  *::before,
	  *::after {
	    animation-duration: 0.01ms !important;
	    animation-iteration-count: 1 !important;
	    transition-duration: 0.01ms !important;
	    scroll-behavior: auto !important;
	  }
	}
</style>
